* {
  padding: 0;
  margin: 0;
  font-family: 'Rajdhani', 'sans-serif';
  color: #000;
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-color: #eed8ff;
}

img {
  max-width: 100%;
}

button {
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  background-color: #c57cc4;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  width: 15rem;
}

button:hover {
  background-color: #c75cea;
}
